/* ===== Mobile Screen ==== */
@media only screen and (max-width: 767px){
	.top-left{
		display: none;
	}
	.top-right{
		display: none;
	}
	.logo img{
		width: 40%;
	}
	.text{
		width: 100%;
		margin-left: 0;
		background-color: rgb(0 0 0 / 60%);
		padding: 10px;
		border-radius: 10px;
	}
	.header-inner{
		position: absolute;
	}
	.slider .single-slider h2 {
		font-size: 20px;
		color: rgb(255, 255, 255);
		font-weight: 700;
		line-height: 25px;
	}
	.slider .single-slider .text {
		margin-top: 220px;
	}
	.slider .single-slider p {
		display: none;
	}
	.slider .single-slider .button{
		margin-top:20px;
	}
	.slider .single-slider .btn{
		color:#fff;
		background:#1a76d1;
		font-weight:500;
		display:inline-block;
		margin:0;
		margin-right:10px;
	}
	.slider .single-slider .btn:last-child{
		margin:0;
	}
	.slider .single-slider .btn.primary{
		background:#2C2D3F;
		color:#fff;
	}
	.slider .single-slider .btn.primary:before{
		background:#1A76D1;
	}
	.slider .single-slider {
		height: 380px;
	}
	.schedule {
		background: #fff;
		margin: 0;
		padding: 0;
		height: auto;
		padding: 50px 0;
		border-bottom:1px solid #eee;
	}
	.schedule .schedule-inner {
		transform: none;
	}
	.schedule .single-schedule{
		margin:15px 0;
	}
	.slider .single-slider{
		position:relative;
	}
	.slider .single-slider:before{
		position:absolute;
		content:"";
		left:0;
		top:0;
		height:100%;
		width:100%;
		background:#fff;
		opacity:0.1;
	}
	.slider .owl-carousel .owl-nav div {
		height: 40px;
		width: 40px;
		line-height: 40px;
		border-radius: 4px;
	}

	.header.sticky .header-bottom{
		position:absolute;
		z-index:999;
		top:initial;
		left:0;
		bottom:initial;
	}
	.header .header-inner {
		width: 100%;
		z-index: 333;
		position: absolute;
		position: relative;
		padding-bottom: 20px;
		background: #fff;
	}
	.slicknav_menu{
		display:block;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		padding: 0;
	}
	.slicknav_btn {
		background: transparent;
		padding: 0;
		margin-top: -30px;
	}
	.slicknav_menu .slicknav_icon-bar{
		box-shadow:none;
	}
	.slicknav_menu{
		display:block;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		padding: 0;
	}
	.slicknav_btn {
		background: transparent;
		padding: 0;
		margin-top: 28px;
	}
	.slicknav_menu .slicknav_icon-bar{
		box-shadow:none;
	}
	.slicknav_nav {
		clear: both;
		color: #2C2D3F;
		margin: 0;
		font-size: .875em;
		background: transparent;
	}
	.slicknav_nav li a {
		color: #2C2D3F;
		transition: all 0.4s ease;
		background: none;
		padding: 4px 10px;
	}
	.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a {
		padding: 0 10px;
		background:transparent;
	}
	.slicknav_nav li a i{
		display:none;
		margin:0;
	}
	.slicknav_nav li:hover a{
		color:#1A76D1;
	}
	.slicknav_nav li .dropdown li a{
		color:#2C2D3F;
		background:transparent;
	}
	.slicknav_nav li .dropdown li a:hover{
		color:#1A76D1;
	}
	.slicknav_nav li .slicknav_item{
		background:transparent;
	}
	.slicknav_nav .slicknav_row, .slicknav_nav a {
		padding: 0;
		margin: 0;
		padding: 6px 0;
		font-weight:400;
	}
	.slicknav_menu .slicknav_icon-bar {
		background-color: #1A76D1;
		box-shadow: none;
		text-shadow: none;
	}
	.slicknav_nav .slicknav_arrow{
		color:#2C2D3F;
	}
	.slicknav_nav li:hover .slicknav_arrow{
		color:#1A76D1;
	}
	.slicknav_menu .slicknav_icon-bar {
		display: block;
		width: 25px;
		height: 3px;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.25);
		-moz-box-shadow: 0 1px 0 rgba(0,0,0,.25);
		box-shadow: 0 1px 0 rgba(0,0,0,.25);
	}
	.header{
		padding-bottom: 20px;
	}
	.header .main-menu{
		display:none 
	}
	.header .widget-main {
		float: right;
		display: none;
	}
	.header.style2 .slicknav_btn {
		margin-top: 18px;
	}
	.header .slicknav_nav {
		margin-top: 65px;
	}
	.header.style2 .slicknav_nav {
		margin-top: 60px;
	}
	.header.style2 .header-inner{
		display:none;
	}
	.header.style2 .main-menu{
		display:none;
	}
	.header .header-inner .apply-btn{
		margin: 0;
		padding: 0;
	}
	.header .header-inner .apply-btn .btn {
		color: #fff;
		display: none;
		margin: 0;
		padding: 0;
	}
	.section{
		padding:50px 0px;
	}
	.section-title {
		margin-bottom: 30px;
		padding: 0px 20px;
	}
	.section-title h2 {
		font-size: 22px;
		margin-bottom: 10px;
	}
	.section-title p {
		font-size: 13px;
	}

	.breadcrumbs {
		padding: 60px 0;
	}
	.breadcrumbs h1 {
		font-size: 32px;
		font-weight:600;
	}
	.breadcrumbs .bread-list {
		margin-top:10px;
	}
	.breadcrumbs ul li{
		font-size: 14px;
		font-weight: 400;
	}
	.breadcrumbs ul li a {
		font-size: 14px;
		font-weight: 400;
	}
	.btn {
		padding: 11px 20px;
		font-weight: 400;
		font-size: 13px;
	}
	.header .top-link {
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
	.header .top-contact {
		float: none;
		text-align: center;
	}
	.Feautes.index2 {
		padding-top: 50px;
	}
	.Feautes .single-features .signle-icon i {
		font-size: 42px;
		left: 50%;
		margin-left: -40px;
		height:80px;
		width: 80px;
		line-height: 80px;
	}
	.Feautes .single-features::before {
		display:none;
	}
	.Feautes .single-features {
		text-align: center;
		position: relative;
		padding:0px;
		margin: 15px 0;
	}
	.Feautes .single-features h3 {
		padding-top: 105px;
		font-size: 20px;
	}

	/*== Start Fun Facts CSS ==*/
	.fun-facts{
		background-color: #0176D7;
	}
	.single-fun{
		padding: 20px 20px;
	}
	.single-fun i{
		color: white;
		font-size: 50px;
	}
	.content{
		border-bottom: 1px solid white;
		padding-bottom: 20px;
	}
	.content .con h1{
		color: white;
		font-size: 24px;
	}
	.con span{
		font-size: 25px;
		font-weight: 500;
		color: white;
	}
	.single-fun .content p{
		color: white;
	}
	
	/*== End Counter ==*/

	/*== Why Choose ==*/

	.why-choose{
		padding: 40px 10px;
	}
	.why-choose .choose-left{
		padding: 10px;
	}
	.why-choose .choose-left .btn2{
		margin-left: 10px;
	}
	.why-choose .choose-right {
		height: 350px;
		margin-top: 30px;
		padding: 10px;
	}
	/*== Why Choose END ==*/

	/*== DIC Facilities ==*/
	.section-area{
		text-align: center;
	}
	.service-bx{
		margin-bottom: 80px;
		width: 100%;
	}
	.feature-box img{
		width: 25%;
	}
	.info-bx h3 a{
		font-weight: 600;
	}
	.Academic{
		margin-top: -80px;
	}
	.single-table{
		margin-bottom: 20px;
	}
	.table-bottom a{
		font-size: 18px;
	}

	/*== DIC Facilities CSS ==*/
	.section-area{
		padding: 80px 0px;
	}
	.facilities-header{
		text-align: center;
		margin-top: -50px;
		padding: 30px;
	}
	.facilities-header h2{
		text-align: center;
		font-weight: 600;
		color: #1a76d1;
		padding-bottom: 10px;
	}
	.facility{
		background: white;
		border-radius: 0px;
		box-shadow: none;
	}
	.service-bx{
		background-color: #e7f6fd;
		box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
		border-radius: 20px;
		padding: 20px 20px;
		transition: all .5s;
	}
	.service-bx:hover{
		background-color:#afe6fd ;
		
	}
	.service-bx i{
		font-size: 50px;
		color: #1a76d1;
		padding-bottom: 20px;
	}
	.info-bx h3{
		font-size: 18px;
		font-weight: 600;
		padding-bottom: 10px;
	}
	.info-bx p{
		color: black;
		padding-bottom: 40px;
	}
	.info-bx button{
		padding: 12px 15px;
		background-color: white;
		border-radius: 30px;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		border: none;
		transition: all 0.5s;
	}
	.info-bx button i{
		font-size: 16px;
		padding: 0;
		margin-left: 10px;
		transition: all 0.5s;
	}
	.info-bx button:hover{
		background-color: #0176D7;
		color: white;
	}
	.info-bx button:hover i{
		color: white;
	}
	/*== DIC Facilities CSS END ==*/

	/*== Academic CSS ==*/
	.Academic{
		padding: 30px 0px;
	}
	.academic-main{
		border-radius: 30px;
		padding: 0px;
	}
	.academic-main h2{
		color: #0176D7;
		font-size: 24px;
		font-weight: 600;
		text-align: center;
		padding-bottom: 30px;
	}
	.academic-card{
		background-color: rgb(255, 255, 255);
		transition: all 0.5s;
		display: inline-block;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		margin-bottom: 20px;
	}
	.academic-card:hover{
		box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	}
	.academic-text{
		padding: 20px 20px;
	}
	.academic-text p{
		padding-bottom: 30px;
		width: 90%;
	}
	.academic-img{
		width: 100%;
	}
	.academic-img img{
		height: 100%;
		object-fit: cover;
	}
	.academic-text h3{
		color: #0176D7;
		font-size: 22px;
		font-weight: 600;
		padding-bottom: 10px;
	}
	.academic-text a{
		color: white;
	}
	/*== Academic CSS END ==*/

	/*== Words From Guardians & Alumni == */
	.testimonial{
    	padding: 20px 0px;
    	align-items: center;
	}
	.testimonil-text{
		padding: 0px 5px;
		text-align: center;
	}
	.testimonil-text h2{
		font-size: 24px;
		color: #0176D7;
		font-weight: 600;
		padding: 20px 0px;
	}
	.testimonial-slide{
		background-color: white;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		padding: 20px 15px;
		margin: 10px;
		border-radius: 10px;
	}
	.ti{
		width: 50px;
		overflow: hidden;
		left: 70%;
		position: absolute;
		margin-top: -10px;
		opacity: .4;
	}
	/*=== End Words From Guardians & Alumni CSS ==*/


	/*== blog-section CSS ==*/
	.blog-section h2{
		font-size: 24px;
		text-align: center;
		padding: 20px;
		font-weight: 600;
		color: #0176D7;

	}
	.notice-event .btn{
		padding: 15px 50px;
	}
	.blog{
		padding-top: 20px;
	}
	.blog-slide{
		background-color: white;
		border: 1px solid rgb(236, 236, 236);
		padding: 10px 10px;
		width: 100%;
		border-radius: 10px;
		height: 540px;
	}

	/*== End blog-section CSS ==*/

	/*-- Notice Board Page CSS*/
	.notice-item img{
		display:none;
	}
	.notice-item{
		padding: 0px 5px;
		margin-bottom: 15px;
	}
	.notice-content{
		padding: 10px 5px;
	}
	.notice-title a{
		font-size: 18px;
	}
	.notice-department{
		font-size: 12px;
	}
	.notice-meta span{
		margin-right: 30px;
	}
	.notice-type {
		background-color: #ffe57b; /* Light yellow */
		padding: 2px 10px;
		font-size: 12px;
		border-radius: 15px;
		font-weight: 600;
		color: #252525;
	}
	/*-- Notice Board Page CSS END*/

	/*-- Career Page --*/
	.job-list{
		padding: 30px 0px;
	}
	.job-heading p{
		display: none;
	}
	.job-circular{
		background-color: white;
		padding: 20px 30px;
		border-radius: 20px;
		margin-bottom: 30px;
		transition: all .2s ease-in-out;
	}

	.job-details{
		display: inline-block;
		padding: 20px 0px;
	}

	.job-details span{
		color: rgb(0, 0, 0);
		margin-right: 35px;
		padding-top: 10px;
		font-size: 16px;
		line-height: 30px;
	}
	.job-details i{
		margin-right: 5px;
		color: #035394;
	}
	.job-circular button{
		margin-top: 10px;
	}
	/*-- Career Page END --*/

	/* -- Admission Form --*/
	.admission-f{
		padding: 10px;
	}
	.admission-form{
		padding: 0px 0px;
		background-color: rgb(238, 238, 238);
	}
	.admission-form h3{
		padding: 0px 0px;
		color: #0060AF;
		font-size: 16px;
	
	}
	.formbold-relative {
		position: relative;
	}
	.formbold-opacity-0 {
		opacity: 0;
	}
	.formbold-stroke-current {
	stroke: currentColor;
	}
	#supportCheckbox:checked ~ div span {
	opacity: 1;
	}

	.formbold-main-wrapper {
		display: block;
		align-items: center;
		justify-content: center;
		padding: 30px 30px;
	}

	.formbold-form-wrapper {
		margin: 0 auto;
		width: 100%;
	}
	.formbold-form-title {
		margin-bottom: 30px;
	}
	.formbold-form-title h2 {
		font-weight: 600;
		font-size: 18px;
		line-height: 34px;
		color: #0176D7;
	}
	.formbold-form-title p {
		font-size: 14px;
		font-weight: 600;
		line-height: 24px;
		color: #1e2f57;
		margin-top: 8px;
	}

	.formbold-input-flex {
		display: inline-block;
		gap: 80px;
		margin-bottom: 10px;
	}
	.formbold-input-flex > div {
		width: 100%;
		margin-bottom: 15px;
	}
	.formbold-input-flex > div img{
		width: 100%;
		padding: 0px 10px ;
	}
	.formbold-input-flex p{
		color: black;
	}
	.formbold-input-flex h5{
	font-size: 16px;
	}
	.formbold-form-input {
		width: 100%;
		padding: 6px 10px;
		height: 45px;
		border-radius: 8px;
		border: 1px solid #dde3ec;
		background: #ffffff;
		font-weight: 500;
		font-size: 14px;
		color: #536387;
		outline: none;
	}
	.formbold-form-input:focus {
		border-color: #6a64f1;
		box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
	}
	.formbold-form-label {
		color: #536387;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 5px;
		cursor: pointer;
	}
	.payment{
		padding: 5px;
	}
	.payment-title{
		padding: 5px;
	}
	.payment-title h3,h4{
		color: white;
		font-size: 16px;
	}
	.payment-info{
		display: block;
	}
	.payment-info p{
		font-size: 12px;
		line-height: 25px;
	}
	/* -- Admission Form END--*/

	/*-- Single Message Page CSS */
	.profile-name h3{
		font-size: 22px;
	}
	.profile-name h6{
		font-size: 12px;
	}
	.profile-header{
		padding-top: 30px;
		text-align: center;
	}
	.profile-nav li{
		padding: 10px 20px;
		border: none;
	}
	.profile-nav li a{
		font-size: 18px;
		color: white;
		font-weight: 500;
	}
	/*-- Single Message Page CSS END */

	/*== Search Bar SS ==*/


	/* Search END */

	.about-image {
		height: 300px;
	}
	.about-content h2 {
		line-height: 32px;
		font-size: 20px;
	}
	.about-content {
		padding-bottom: 0;
		width: 100%;
		padding:0;
		padding: 35px;
	}
	.our-mission-content {
		padding-bottom: 0;
		width: 100%;
		padding:0;
		padding: 35px;
	}
	.our-mission-content h2 {
		line-height: 32px;
		font-size: 25px;
	}
	.our-mission-image {
		height: 300px;
	}
	/*== Conact Us CSS ==*/
	.contact-us .contact-us-form h2 {
		font-size: 25px;
		text-align: center;
	}
	.contact-us .contact-us-form h2:before{
		position:absolute;
		content:"";
		left: 30%;
		bottom: 0;
		height: 2px;
		width: 80px;
		background:#1A76D1;
	}
	.contact-us .contact-us-form p{
		text-align: center;
	}
	.contact-us .single-info {
		margin: 10px 0;
	}
	.contact-us .contact-us-form {
		padding: 30px 30px;

	}
	.contact-us .form{
		padding: 30px 20px;
		width: 290px;
		margin-left: -20px;
		box-shadow: none;
	}
	.login .login-left {
		height: 300px;
	}
	.login .form .btn {
		height:50px;
		line-height:50px;
		padding:0;
		padding:0px 20px;
	}
	.login .form {
		margin-top: -25px;
	}
	.contact-us .form .btn {
		height:50px;
		line-height:50px;
		padding:0;
		padding:0px 20px;
	}
	.contact-us .form {
		margin-top: -25px;
	}
	.pf-details .date ul li {
		margin-right: 25px;
		font-size: 13px;
	}
	.pf-details .date ul li {
		margin-right: 25px;
		font-size: 13px;
		display: block;
		text-align: left;
		margin-bottom: 8px;
	}
	.pf-details .date ul li:last-child{
		margin-bottom:0;
	}
	.pf-details .body-text h3 {
		font-size: 22px;
		font-weight: 600;
		color: #333;
		margin-top: 30px;
	}
	.pf-details .image-slider .owl-nav {
		display: none;
	}
	.footer .single-footer {
		margin: 15px 0;
	}
	.footer .single-footer h2 {
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	.footer .footer-top {
		padding: 50px 0px 60px 0;
	}
	.footer .single-footer.f-link ul {
		margin-bottom: 12px;
	}
	.footer .single-footer.f-link ul li a{
		display:inline-block;
	}
	.footer .copyright {
		padding: 20px 0;
	}
	
	/* Instruction Page CSS */
	.introduction{
		padding: 80px;
	}
	.tab-regular{
		padding-top: 30px;
	}
	.nav-item a{
		font-size: 12px;
		font-weight: 600;
	}
	.tab-regular .nav.nav-tabs {
		border-bottom: transparent;
	}

	.tab-regular .nav.nav-tabs .nav-link {
		display: block;
		padding: 10px 10px;
		color: #444444;
		background-color: #dddde8;
		margin-right: 5px;
		border-color: #dddde8;
	}

	.tab-regular .nav-tabs .nav-link.active {
		background-color: #fff;
		border-color: #e6e6f2 #e6e6f2 #fff;
		color: #5969ff;
	}

	.tab-regular .tab-content {
		background-color: #fff;
		padding: 15px 20px;
		border: 1px solid #e6e6f2;
		border-radius: 4px;
		border-top-left-radius: 0px
	}
	/* Instruction Page CSS  END*/
	
	/*== Single Blog ==*/
	.news-single .meta-right {
		float: left;
		margin-top: 10px;
	}
	/*== Single Blog END ==*/

}


/*== Tablet-Screen ==*/
@media only screen and (min-width: 768px) and (max-width: 991px){
	/*-- Header Section --*/
		.header-inner{
			position: absolute;
		}
		.header.sticky .header-bottom{
			position:absolute;
			z-index:999;
			top:initial;
			left:0;
			bottom:initial;
		}
		.header .header-inner {
			width: 100%;
			z-index: 333;
			position: absolute;
			position: relative;
			padding-bottom: 20px;
			background: #fff;
		}
		.slicknav_menu{
			display:block;
		}
		.slicknav_menu {
			display: block;
			background: transparent;
			padding: 0;
		}
		.slicknav_btn {
			background: transparent;
			padding: 0;
			margin-top: -30px;
		}
		.slicknav_menu .slicknav_icon-bar{
			box-shadow:none;
		}
		.slicknav_menu{
			display:block;
		}
		.slicknav_menu {
			display: block;
			background: transparent;
			padding: 0;
		}
		.slicknav_btn {
			background: transparent;
			padding: 10px;
			
		}
		.slicknav_menu .slicknav_icon-bar{
			box-shadow:none;
			right: 0;
			margin-left: 550px;
		}
		.slicknav_nav {
			clear: both;
			color: #2C2D3F;
			margin: 0;
			font-size: .875em;
			background: transparent;
			width: 300px;
		}
		.slicknav_nav li a {
			color: #2C2D3F;
			transition: all 0.4s ease;
			background: none;
			padding: 4px 0px;
		}
		.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a {
			padding: 0 10px;
			background:transparent;
		}
		.slicknav_nav li a i{
			display:none;
			margin:0;
		}
		.slicknav_nav li:hover a{
			color:#1A76D1;
		}
		.slicknav_nav li .dropdown li a{
			color:#2C2D3F;
			background:transparent;
		}
		.slicknav_nav li .dropdown li a:hover{
			color:#1A76D1;
		}
		.slicknav_nav li .slicknav_item{
			background:transparent;
		}
		.slicknav_nav .slicknav_row, .slicknav_nav a {
			margin: 0;
			padding: 6px 0px;
			font-weight:400;
		}
		.slicknav_menu .slicknav_icon-bar {
			background-color: #1A76D1;
			box-shadow: none;
			text-shadow: none;
		}
		.slicknav_nav .slicknav_arrow{
			color:#2C2D3F;
		}
		.slicknav_nav li:hover .slicknav_arrow{
			color:#1A76D1;
		}
		.slicknav_menu .slicknav_icon-bar {
			display: block;
			width: 30px;
			height: 4px;
			border-radius: 1px;
		}
		.header{
			padding-bottom: 20px;
		}
		.header .main-menu{
			display:none 
		}
		.header .widget-main {
			float: right;
			display: none;
		}
		.header.style2 .slicknav_btn {
			margin-top: 18px;
		}
		.header .slicknav_nav {
			margin-top: 65px;
		}
		.header.style2 .slicknav_nav {
			margin-top: 60px;
		}
		.header.style2 .header-inner{
			display:none;
		}
		.header.style2 .main-menu{
			display:none;
		}
		.header .header-inner .apply-btn{
			margin: 0;
			padding: 0;
		}
		.header .header-inner .apply-btn .btn {
			color: #fff;
			display: none;
			margin: 0;
			padding: 0;
		}
		/*-- Slider Text --*/
		.text{
			width: 100%;
			margin-left: 0;
			background-color: rgb(0 0 0 / 60%);
			padding: 10px;
			border-radius: 10px;
		}
		.slider .single-slider h2 {
			color: rgb(255, 255, 255);
			font-weight: 700;
			line-height: 25px;
		}
		.slider .single-slider .text {
			margin-top: 220px;
		}
		.slider .single-slider p {
			display: none;
		}
		.slider .single-slider .button{
			margin-top:20px;
		}
		.slider .single-slider .btn{
			color:#fff;
			background:#1a76d1;
			font-weight:500;
			display:inline-block;
			margin:0;
			margin-right:10px;
		}
		.slider .single-slider .btn:last-child{
			margin:0;
		}
		.slider .single-slider .btn.primary{
			background:#2C2D3F;
			color:#fff;
		}
		.slider .single-slider .btn.primary:before{
			background:#1A76D1;
		}
		.slider .single-slider {
			height: 380px;
		}
		.slider .single-slider{
			position:relative;
		}
		.slider .single-slider:before{
			position:absolute;
			content:"";
			left:0;
			top:0;
			height:100%;
			width:100%;
			background:#fff;
			opacity:0.1;
		}
		.slider .owl-carousel .owl-nav div {
			height: 40px;
			width: 40px;
			line-height: 40px;
			border-radius: 4px;
		}
		/*-- Slider Text END --*/

		/*-- Section --*/
		.breadcrumbs {
			padding: 60px 0;
		}
		.breadcrumbs h1 {
			font-size: 32px;
			font-weight:600;
		}

		/*== Start Fun Facts CSS ==*/
		.single-fun{
			padding: 20px 20px;
		}
		.single-fun i{
			font-size: 50px;
		}
		.content .con h1{
			font-size: 24px;
		}
		.con span{
			font-size: 20px;
			font-weight: 500;
		}
		/*== End Counter ==*/
	
		/*== Why Choose ==*/
		.why-choose .choose-right {
			height: 450px;
		}
		/*== Why Choose END ==*/
	
		/*== DIC Facilities ==*/
		.service-bx{
			margin-bottom: 30px;
			border: .5px solid #0176D7;
		}
		.facility{
			background: white;
			border-radius: 0px;
			box-shadow: none;
		}
		/*== DIC Facilities CSS END ==*/
	
		/*== Academic CSS ==*/
		.Academic{
			margin-top: -60px;
			padding: 0px 0px;
		}
		.academic-card{
			background-color: rgb(255, 255, 255);
			transition: all 0.5s;
			display: inline-block;
			box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
			margin-bottom: 20px;
		}
		.academic-img{
			width: 100%;
		}
		.academic-img img{
			height: 100%;
			object-fit: cover;
		}
		/*== Academic CSS END ==*/
	
		/*== Words From Guardians & Alumni == */
		.testimonial{
			padding: 20px 0px;
			align-items: center;
		}
		.testimonil-text h2{
			font-size: 20px;
			color: #0176D7;
			font-weight: 600;
			padding: 20px 0px;
		}
		/*=== End Words From Guardians & Alumni CSS ==*/
	
		/*== Latest News & Blog section CSS ==*/
		.blog-section h2{
			font-size: 24px;
			text-align: center;
			padding: 20px;
			font-weight: 600;
			color: #0176D7;
		}
		.notice-event .btn{
			padding: 11px 120px;
		}
		.blog-slide{
			background-color: white;
			border: 1px solid rgb(236, 236, 236);
			padding: 10px 10px;
			width: 100%;
			border-radius: 10px;
			height: 520px;
		}
		/*== End blog-section CSS ==*/

		/*== About Page SS ==*/
		.about-details{
			padding-top: 50px;
			border: 1px solid rgb(212, 212, 212);
			border-radius: none;
		}
		/*-- About Page END CSS*/
		
		/*-- Career Page --*/
		.job-list{
			padding: 30px 0px;
		}
		.job-heading p{
			display: none;
		}
		.job-circular{
			background-color: white;
			padding: 20px 30px;
			border-radius: 20px;
			margin-bottom: 30px;
			transition: all .2s ease-in-out;
		}
		.job-details{
			display: inline-block;
			padding: 20px 0px;
		}
		.job-details span{
			color: rgb(0, 0, 0);
			margin-right: 45px;
			padding-top: 10px;
			font-size: 16px;
			line-height: 30px;
		}
		.job-details i{
			margin-right: 5px;
			color: #035394;
		}
		.job-circular button{
			margin-top: 10px;
		}
		/*-- Career Page END --*/

		/*== Conact Us CSS ==*/
		.contact-us .form {
			margin-top: -20px;
		}
		.single-info{
			margin-bottom: 30px;
		}
		/*== Conact Us CSS END ==*/
		
		/* -- Admission Form --*/
		.admission-f{
			padding: 50px 0px;
		}
		.admission-form{
			padding: 0px 0px;
			background-color: #ffffff;
		}
		/* -- Admission Form END--*/
	
		/*-- Notice Board Page CSS*/
		.notice-item img{
			display:none;
		}
		.notice-item{
			padding: 0px 5px;
			margin-bottom: 15px;
		}
		.notice-content{
			padding: 10px 5px;
		}
		.notice-title a{
			font-size: 16px;
		}
		.notice-department{
			font-size: 12px;
		}
		.notice-type {
			background-color: #ffe57b; /* Light yellow */
			padding: 2px 10px;
			font-size: 12px;
			border-radius: 15px;
			font-weight: 600;
			color: #252525;
		}
		/*-- Notice Board Page CSS END*/

		/*-- Single Message Page CSS */
		.profile-name h3{
			font-size: 22px;
		}
		.profile-name h6{
			font-size: 12px;
		}
		.profile-header{
			padding-top: 30px;
			text-align: center;
		}
		.profile-nav li{
			padding: 10px 20px;
			border: none;
		}
		.profile-nav li a{
			font-size: 18px;
			color: white;
			font-weight: 500;
		}
		/*-- Single Message Page CSS END */

	
		.pf-details .date ul li {
			margin-right: 25px;
			font-size: 13px;
		}
		.pf-details .date ul li {
			margin-right: 25px;
			font-size: 13px;
			display: block;
			text-align: left;
			margin-bottom: 8px;
		}
		.pf-details .date ul li:last-child{
			margin-bottom:0;
		}
		.pf-details .body-text h3 {
			font-size: 22px;
			font-weight: 600;
			color: #333;
			margin-top: 30px;
		}
		.pf-details .image-slider .owl-nav {
			display: none;
		}
		.footer .single-footer {
			margin: 15px 0;
		}
		.footer .single-footer h2 {
			padding-bottom: 20px;
			margin-bottom: 20px;
		}
		.footer .footer-top {
			padding: 50px 0px 60px 0;
		}
		.footer .single-footer.f-link ul {
			margin-bottom: 12px;
		}
		.footer .single-footer.f-link ul li a{
			display:inline-block;
		}
		.footer .copyright {
			padding: 20px 0;
		}
		
		/* Instruction Page CSS */
		.introduction{
			padding: 80px;
		}
		.tab-regular{
			padding-top: 30px;
		}
		.nav-item a{
			font-size: 12px;
			font-weight: 600;
		}
		.tab-regular .nav.nav-tabs {
			border-bottom: transparent;
		}
	
		.tab-regular .nav.nav-tabs .nav-link {
			display: block;
			padding: 10px 10px;
			color: #444444;
			background-color: #dddde8;
			margin-right: 5px;
			border-color: #dddde8;
		}
	
		.tab-regular .nav-tabs .nav-link.active {
			background-color: #fff;
			border-color: #e6e6f2 #e6e6f2 #fff;
			color: #5969ff;
		}
	
		.tab-regular .tab-content {
			background-color: #fff;
			padding: 15px 20px;
			border: 1px solid #e6e6f2;
			border-radius: 4px;
			border-top-left-radius: 0px
		}
		/* Instruction Page CSS  END*/

}